/*
    1. Grid
    2. Layout
    3. Page header
    4. Upload Dialog
    5. Search Bar
*/

/* 1. Grid */
*, *:after, *:before {
    box-sizing: border-box;
}

html, body {
    font-size: 10px;
}

a {
    text-decoration: none;
    color: #39789F;
}

a:hover, a:active {
    color: #7AB1DF;
}

a:visited {
    color: #6154A1;
}
.container {
    margin: 0 auto;
    padding: 0 1.4rem;
    max-width: 72em;
}

.container:after, .row:after, .u-cf {
    content: "";
    display: table;
    clear: both;
}

.row {
    display: flex;
    flex-flow: row wrap;
    margin-right: -0.7rem;
    margin-left: -0.7rem;
}

.row.align-middle {
    align-items: center;
}

.row.align-bottom {
    align-items: flex-end;
}

.row.align-left {
    justify-content: flex-start;
}

.row.align-center {
    justify-content: center;
}

.row.align-right {
    justify-content: flex-end;
}

[class*="col"] {
    width: 100%;
    padding: 0 0.7rem;
}

.col-xs-1 {
    flex-basis: 8.333%;
    max-width: 8.333%;
}

.col-xs-2 {
    flex-basis: 16.667%;
    max-width: 16.667%;
}

.col-xs-3 {
    flex-basis: 25%;
    max-width: 25%;
}

.col-xs-4 {
    flex-basis: 33.333%;
    max-width: 33.333%;
}

.col-xs-5 {
    flex-basis: 41.667%;
    max-width: 41.667%;
}

.col-xs-6 {
    flex-basis: 50%;
    max-width: 50%;
}

.col-xs-7 {
    flex-basis: 58.333%;
    max-width: 58.333%;
}

.col-xs-8 {
    flex-basis: 66.667%;
    max-width: 66.667%;
}

.col-xs-9 {
    flex-basis: 75%;
    max-width: 75%;
}

.col-xs-10 {
    flex-basis: 83.333%;
    max-width: 83.333%;
}

.col-xs-11 {
    flex-basis: 91.667%;
    max-width: 91.667%;
}

.col-xs-12 {
    flex-basis: 100%;
    max-width: 100%;
}

@media screen and (min-width: 35.5em) {
    html, body {
        font-size: 12px;
    }

    .col-sm-1 {
        flex-basis: 8.333%;
        max-width: 8.333%;
    }

    .col-sm-2 {
        flex-basis: 16.667%;
        max-width: 16.667%;
    }

    .col-sm-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        flex-basis: 33.333%;
        max-width: 33.333%;
    }

    .col-sm-5 {
        flex-basis: 41.667%;
        max-width: 41.667%;
    }

    .col-sm-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-sm-7 {
        flex-basis: 58.333%;
        max-width: 58.333%;
    }

    .col-sm-8 {
        flex-basis: 66.667%;
        max-width: 66.667%;
    }

    .col-sm-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-sm-10 {
        flex-basis: 83.333%;
        max-width: 83.333%;
    }

    .col-sm-11 {
        flex-basis: 91.667%;
        max-width: 91.667%;
    }

    .col-sm-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 48em) {
    html, body {
        font-size: 14px;
    }

    .col-md-1 {
        flex-basis: 8.333%;
        max-width: 8.333%;
    }

    .col-md-2 {
        flex-basis: 16.667%;
        max-width: 16.667%;
    }

    .col-md-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-md-4 {
        flex-basis: 33.333%;
        max-width: 33.333%;
    }

    .col-md-5 {
        flex-basis: 41.667%;
        max-width: 41.667%;
    }

    .col-md-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-md-7 {
        flex-basis: 58.333%;
        max-width: 58.333%;
    }

    .col-md-8 {
        flex-basis: 66.667%;
        max-width: 66.667%;
    }

    .col-md-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-md-10 {
        flex-basis: 83.333%;
        max-width: 83.333%;
    }

    .col-md-11 {
        flex-basis: 91.667%;
        max-width: 91.667%;
    }

    .col-md-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 64em) {
    .col-lg-1 {
        flex-basis: 8.333%;
        max-width: 8.333%;
    }

    .col-lg-2 {
        flex-basis: 16.667%;
        max-width: 16.667%;
    }

    .col-lg-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        flex-basis: 33.333%;
        max-width: 33.333%;
    }

    .col-lg-5 {
        flex-basis: 41.667%;
        max-width: 41.667%;
    }

    .col-lg-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        flex-basis: 58.333%;
        max-width: 58.333%;
    }

    .col-lg-8 {
        flex-basis: 66.667%;
        max-width: 66.667%;
    }

    .col-lg-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-lg-10 {
        flex-basis: 83.333%;
        max-width: 83.333%;
    }

    .col-lg-11 {
        flex-basis: 91.667%;
        max-width: 91.667%;
    }

    .col-lg-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
}

.text-center {
    text-align: center;
}

/* 2. Layout */
html, body {
    font-size: 16px;
    background-color: #c1bdba;
    color: #918e8d;
}

h1 {
    color: #4b4b60;
}

#app-content {
    margin: 0 auto;
}

#bookmark-explorer {
    background-color: #4b4b60;
    height: 90vh;
}

#bookmark-dialog {

}

.dialog {
    color: #c1bdba;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding: 1em;
    background-color: #4b4b60;
    box-shadow: .1em .1em .6em rgba(82, 78, 75, 0.59);
}

#bookmark-dialog div:first-child {
    margin-top: 0;
}

/* 3. Page header */
header {
    margin: 0 auto;
}

header .sub-header {
    margin-top: 0;
}

header h1 {
    margin-bottom: 0;
}

/* 4. Bookmark Upload Dialog */
bm-dialog-close {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    flex: 1 100%;
}

bm-dialog-close span[onclick] {
    cursor: pointer;
}

bm-dialog-body {
    display: flex;
    flex-flow: row wrap;
}

bm-dialog-close .span {
    margin: 0;
}

bm-create-dialog,
bm-upload-file-dialog {
    display: flex;
    flex-flow: row wrap;
    height: 23em;
}

bm-upload-file-dialog .drag-and-drop-inner p {
    margin: .2em;
}

bm-upload-file-dialog .drag-and-drop-container .drag-and-drop-inner {
    border: 3px dashed #c1bdba;
    width: 100%;
    height: 100%;
    border-radius: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

bm-upload-file-dialog .drag-and-drop-container .drag-and-drop-inner span.fa {
    font-size: 4em;
}

bm-upload-file-dialog .drag-and-drop-container {
    flex-basis: 100%;
    max-width: 100%;
    height: 90%;
    background-color: rgba(193, 189, 186, 0.50);
    padding: 1em;
    border-radius: .5em;
}

/* 5. Search Bar */
.search-bar {
    width: 100%;
    padding: 0.5em 0.5em;
    position: relative;
}
.search-bar input {
    width: 100%;
    padding-right: 15%;
}
.search-bar i {
    position: absolute;
    bottom: 0.75em;
    cursor: pointer;
    padding-right: 1.5em;
    right: 0.5em;
}

colors {
    color: rgba(97, 84, 161, 100);
    color: rgba(107, 196, 165, 100);
    color: rgba(75, 75, 96, 100);
    color: rgba(122, 177, 223, 100);
    color: rgba(57, 120, 159, 100);
}
