/*
1. Layout
2. Page header
*/

/* Layout */
html, body {
    background-color: #c1bdba;
    color: #918e8d;
}

h1 {
    color: #4b4b60;
}

#app-content {
    max-width: 64em;
}

#bookmark-explorer {
}
/* Page header */
2
