<bm-edit-dialog class="dialog">
    <bm-dialog-close><span onclick="App.bookMarkEdit.remove()" class="fa fa-times"></span></bm-dialog-close>
    <bm-dialog-body class="drag-and-drop-container">
        <form class="row">
            <p class="col-lg-2 col-md-2">Title: </p>
            <input class="col-lg-10 col-md-10" type = "text" name = "title" placeholder="Title"><br>
            <p class="col-lg-2 col-md-2">Url: </p>
            <input class="col-lg-10 col-md-10" type = "url" name = "url" placeholder="http://xxx.com"><br>
            <p class="col-lg-2 col-md-2">Description: </p>
            <textarea class="col-lg-10 col-md-10" rows = "3">Description</textarea>
            <p class="col-lg-2 col-md-2">Keywords: </p>
            <input class="col-lg-10 col-md-10" type = "text" name = "keywords" placeholder="Keywords"><br>
            <input type = "submit">
        </form>
    </bm-dialog-body>
</bm-edit-dialog>