<bm-edit-dialog class="dialog">
    <bm-dialog-close><span onclick="App.bookMarkEdit.remove()" class="fa fa-times"></span></bm-dialog-close>
    <bm-dialog-body class="drag-and-drop-container">
        <form>
            <p>Title: </p>
            <input type = "text" name = "title"><br>
            <p>Url: </p>
            <input type = "url" name = "url"><br>
            <p>Description: </p>
            <textarea rows = "3"></textarea>
            <p>Keywords: </p>
            <input type = "text" name = "keywords"><br>
            <input type = "submit">

        </form>
    </bm-dialog-body>
</bm-edit-dialog>
