<div style=" background-color: rgba(57, 120, 159, 100); border-color: white;">
    <li style="color: white; border: 1px solid white; border-radius: 1%">
        <span style="padding: 3px;" class="fa fa-bookmark"></span>
        <a style="color: white;"  href={{url}}>{{name}}</a>

        <span style="padding: 3px; float: right;" class="fa fa-star"></span>
        <span style="padding: 3px; float: right; display: none" class="fa fa-star-o"></span>
        <span style="padding: 3px; float: right;" class="fa fa-edit"></span>
    </li>
</div>